# Игнорирование кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорирование логов и временных файлов
*.log
*.tmp

# Игнорирование файлов IDE
.vscode/
.idea/

# Игнорирование файлов word
*.docx
*.doc
*.txt

# Игнорирование прочих папок
fork/
builds/